<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.glooory.petal">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>

    <application
        android:name="common.PetalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petal">

        <activity
            android:name=".mvp.ui.splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Petal.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".mvp.ui.home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Petal.Light"
            android:launchMode="singleTask"/>

        <activity
            android:name=".mvp.ui.login.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Petal.Login"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".mvp.ui.pindetail.PinDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Petal.PinDetail"/>

        <activity
            android:name=".mvp.ui.user.UserActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Petal.Light"/>

    </application>

</manifest>